# IDEs
.idea
.vscode
.editorconfig

# After-build files
dist/tsconfig.tsbuildinfo
types/tsconfig.tsbuildinfo

# Development files
.eslintignore
.eslintrc.json
commitlint.config.js
jest.config.js

# Other
tests
.github
.husky
